/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.wpcf7 {
  label {
    width: 100%;
    margin-bottom: 0 !important;
    // font-family: $secondary-font;
    font-size: 18px;
  }

  .form-privacy {
    font-size: 14px;
    width: 70%;
    float: right;

    @media only screen and (max-width: 768px) {
      width: 70%;
      float: left;
    }

    a {
      color: #fff;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .wpcf7-form-control-wrap {
    width: 70%;

    input {
      background-color: $white;
      padding: 10px;
      float: right;
      width: 70%;
      border-radius: 5px;
    }

    input[type=radio] {
      margin-top: 6px;
    }

    textarea {
      background-color: $white;
      float: right;
      width: 70%;
      padding: 10px;
      border-radius: 5px;
    }

    @media only screen and (max-width: 768px) {
      input {
        width: 100%;
        margin-top: 5px;
      }

      textarea {
        width: 100%;
        margin-top: 5px;
      }
    }
  }
}

.wpcf7-radio {
  width: 82%;
  display: block;
  overflow: hidden;
  float: right;
  padding: 10px 0 20px 0;

  .wpcf7-list-item {
    float: left;

    .wpcf7-list-item-label {
      float: right !important;
      padding: 2px 0 0 0;
    }

    input {
      float: left !important;
      margin-right: 10px;
      width: auto !important;
    }
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.booking-form-section {
  h2 {
    text-align: center;
    font-weight: 400;
  }

  .wpcf7 {
    label {
      width: 100%;
      margin-bottom: 0 !important;
    }

    .form-privacy {
      font-size: 14px;
      width: 50%;

      @include media-breakpoint-up(md) {
        margin-left: 20%;
      }

      a {
        color: #000;
      }
    }

    .wpcf7-form-control-wrap {
      width: 70%;

      input {
        background-color: $white;
        padding: 10px;
        float: right;
        width: 80%;
        border-radius: 5px;
        border: 1px solid #afb3d2;
      }

      textarea {
        background-color: $white;
        float: right;
        width: 80%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #afb3d2;
      }

      @media only screen and (max-width: 768px) {
        input {
          width: 100%;
          margin-top: 5px;
        }

        textarea {
          width: 100%;
          margin-top: 5px;
        }
      }
    }
  }
}
