# MacOS
*.DS_Store

# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*
!web/app/cache/.gitkeep
web/app/languages/*
!web/app/languages/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
composer.lock

# WP-CLI
wp-cli.local.yml

# PhpStorm
.idea

# Symlinks
public
httpdocs
web/app/db.php
