.env
*.DS_Store
*.log
composer.lock

vendor

httpdocs/.htaccess
httpdocs/license.txt
httpdocs/readme.html
httpdocs/sitemap.xml
httpdocs/sitemap.xml.gz

httpdocs/wp-content/advanced-cache.php
httpdocs/wp-content/backup-db/
httpdocs/wp-content/backups/
httpdocs/wp-content/blogs.dir/

httpdocs/wp-content/cache/
httpdocs/wp-content/mmr
httpdocs/wp-content/wp-cache-config.php
httpdocs/wp-content/uploads/cache
httpdocs/wp-content/uploads
httpdocs/wp-content/upgrade/
httpdocs/wp-content/plugins/hello.php
