.fcb-instagram {
  background-color: map-get($theme-colors, "secondary");

  .col-md-6 {
    padding-left: 7px;
    padding-right: 8px;
  }

  .col-image {
    display: block;
    height: 410px;
    overflow: hidden;
    margin-bottom: 15px;
    text-indent: -9000px;

    @include background-image();
  }

  .instagram-feed {
    margin-bottom: -15px;
  }
}
