.fcb {
  padding: 5rem !important;

  @include media-breakpoint-down(sm) {
    padding: 3rem !important;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }

  @include media-breakpoint-down(xs) {
    padding: 1rem !important;
    padding-top: 75px !important;
    padding-bottom: 75px !important;
  }

  .fcb-v-align {
    @extend .d-flex;

    > div {
      @extend .my-auto;
    }
  }
}
