.fcb {
  min-width: 320px;
  overflow: hidden;

  .fcb-v-align {
    @extend .d-flex;

    > div {
      @extend .my-auto;
    }
  }

  .content {
    p,
    ul,
    li {
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}
