.fcb-hero {
  position: relative;

  .container {
    position: relative;
    z-index: 2;

    h1,
    h2,
    h3,
    .btn-link {
      color: $white;
    }

    .btn-link {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .overlay {
    background: $default;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}
