/* -------------------------------------------
  _colours.scss

  - This file contains the rules to set class properties dynamically,
  - target-class-properties @mixin is used to contain multiple classes and
  - set-property-styles @mixin is used to define the property values.
------------------------------------------- */

/**
 * Set properties, defined by the variables passed as the values.
*/
@mixin set-property-styles($text-colour, $background-color) {
  color: $text-colour;
  background-color: $background-color;
}

/**
 * Target multiple classes and set property styles through @mixin
*/
@mixin target-class-properties($text-colour, $background-color) {
  .masthead-header {
    .overlay {
      @include set-property-styles($text-colour, $background-color);
    }
  }

  .bg-colour-type {
    @include set-property-styles($text-colour, $background-color);
  }

  .text-block {
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $background-color;
    }
  }
}

/**
 * If document body tag contains either of the classes, then set the class
 * properties within the target-class-properties @mixin.
*/
body {
  &.page-template-1 {
    @include target-class-properties($white, $wcd-theme-light-blue);
  }

  &.page-template-2 {
    @include target-class-properties($white, $wcd-theme-yellow);
  }
}
