.navbar {
  min-width: 320px;

  .navbar-brand {
    padding: 9px 0;
  }

  .nav li {
    @extend .nav-item;

    a {
      padding: 15px 5px;

      @extend .nav-link;
    }
  }
}

.mobile-first-menu {
  width: 100%;

  .nav {
    @include media-breakpoint-down(md) {
      float: none;
    }

    li {
      display: inline-block;
      flex: 1 1 auto;

      a {
        display: block;
        text-align: center;
      }
    }
  }
}
