body.woocommerce {
  span.onsale {
    width: 50px;
    height: 50px;
    min-height: unset;
    min-width: unset;
  }

  // Workaround for product archives that have five columns
  .col-md-2-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }

  .added_to_cart.wc-forward {
    text-align: center;
  }

  .button,
  .button.disabled {
    @extend .btn;
    @extend .btn-primary;
  }
}
