/*-------------------------------------------*\
  _margin.scss

  - File to demonstrates scss @mixin.
  - Generating classes on on set margin values,
  - each iteration of an array of margins will create specific set values that
  - can be used to get exact spacing between elements, such as sections.
\*-------------------------------------------*/

// Strip any characters except numbers
@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// Generate classes for each Spacing like Bootstrap:
// https://getbootstrap.com/docs/4.0/utilities/spacing/
@mixin generate-margin-classes($margin) {
  $margin-no : strip-unit($margin);

  .m-#{$margin-no} {
    margin: $margin;
  }

  .ml-#{$margin-no} {
    margin-left: $margin;
  }

  .mr-#{$margin-no} {
    margin-right: $margin;
  }

  .mt-#{$margin-no} {
    margin-top: $margin;
  }

  .mb-#{$margin-no} {
    margin-bottom: $margin;
  }

  .mx-#{$margin-no} {
    margin-left: $margin;
    margin-right: $margin;
  }

  .my-#{$margin-no} {
    margin-top: $margin;
    margin-bottom: $margin;
  }
}

// Foreach margin in the $margins array - generate spacing classes
// Example - $margins: ( 70px, 30px, 40px, 50px );
@each $margin in $margins {
  @include generate-margin-classes($margin);
}
