/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$default: #333;
$black: #000;
$white: #fff;
$light-grey: #f2f2f2;
$lime: #b0eb00;
$bright-red: #b30015;
$dark-blue: #2a00b3;
$deep-cerulean: #0077b3;
$bondi-blue: #00b0b3;
$cyan: #24fbff;
$heliotrope: #8a7dff;
$silver-chalice: #a6a6a6;
$scorpion: #595959;
$tundora: #444;
$mine-shaft: #363636;
$cod-gray: #111;

$paddings: ( 10px, 20px, 30px, 40px, 50px, 60px, 70px, 80px, 90px, 100px );
$padding-lg: 1.5; // Divide above paddings for BS breakpoints
$padding-md: 2; // Divide above paddings for BS breakpoints
$padding-sm: 3; // Divide above paddings for BS breakpoints
$padding-xs: 4; // Divide above paddings for BS breakpoints
